@use "reset";
@use "variables/global";
@use "themes/default";
@use "themes/dark";

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font: var(--font-md);
  font-style: normal;
  font-weight: 400;
  min-height: 100%;
}

a {
  text-decoration: none;
}

.app {
  min-height: 100vh;
}

.content {
  display: flex;
}

.main {
  flex-grow: 1;
  padding: 20px;
}
