$loader-size: 60px;
$duration: 1.2s;

.root {
  --c: no-repeat linear-gradient(var(--color-bg-secondary) 0 0);

  height: $loader-size;
  aspect-ratio: 1;
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 33.4% 33.4%;
  animation: loader-animation $duration infinite linear;
}

@keyframes loader-animation {
  0%,
  5% { background-position: 0 0, 50% 0, 0 50%, 50% 50%; }
  25% { background-position: 0 0, 100% 0, 0 100%, 50% 50%; }
  50% { background-position: 50% 0, 100% 0, 0 100%, 0 50%; }
  75% { background-position: 50% 0, 100% 50%, 0 100%, 0 0; }

  95%,
  100% { background-position: 50% 0, 50% 50%, 0 50%, 0 0; }
}
