:root {
  // typography
  --font-family: helvetica, arial, verdana, sans-serif;
  --font-size-sm: 12px;
  --font-size-md: 16px;
  --font-size-lg: 24px;
  --font-size-xl: 32px;
  --line-height: 1.25;
  --line-height-higher: 1.5;
  --font-sm: var(--font-size-sm) / var(--line-height) var(--font-family);
  --font-md: var(--font-size-md) / var(--line-height) var(--font-family);
  --font-lg: var(--font-size-lg) / var(--line-height) var(--font-family);
  --font-xl: var(--font-size-xl) / var(--line-height) var(--font-family);
  --font-sm-higher: var(--font-size-sd) / var(--line-height-higher) var(--font-family);
  --font-md-higher: var(--font-size-md) / var(--line-height-higher) var(--font-family);
  --font-lg-higher: var(--font-size-lg) / var(--line-height-higher) var(--font-family);
  --font-xl-higher: var(--font-size-xl) / var(--line-height-higher) var(--font-family);

  // Backgrounds
  --color-bg: #fff; // Main background
  --color-bg-secondary: #f0f2f5; // Secondary background for paddings and separators

  // Text
  --color-text: #373737; // Main text
  --color-text-secondary: #65676b; // Secondary text

  // UI elements
  --color-border: #343637; // Borders and separators
  --color-primary: #007bff; // Primary accent color
  --color-primary-light: #55bfff; // Light shade of primary color for backgrounds

  // Statuses
  --color-success: #28a745; // Success, confirmations
  --color-error: #dc3545; // Errors, warnings
  --color-error-secondary: #f44336; // Errors, warnings secondary
  --color-warning: #ffc107; // Warning

  // Additional
  --color-info: #17a2b8; // Informational
  --color-overlay: rgba(0 0 0 / 60%); // Mostly for modal backgrounds

  // Sizes
  --navbar-height: 56px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 64px;

  // Z-indexes
  --z-index-modal: 10;
}
