.root {
  display: block;

  &_right {
    text-align: right;
  }

  &_center {
    text-align: center;
  }

  &_justify {
    text-align: justify;
  }
}

.title {
  font: var(--font-lg);
  color: var(--color-text);

  &_error {
    color: var(--color-error);
  }

  &_sizeSM {
    font-size: var(--font-size-md);
  }

  &_sizeMD {
    font-size: var(--font-size-lg);
  }

  &_sizeLG {
    font-size: var(--font-size-xl);
  }
}

.text {
  font: var(--font-md);
  color: var(--color-text-secondary);

  &_error {
    color: var(--color-error);
  }

  &_sizeSM {
    font-size: var(--font-size-sm);
  }

  &_sizeMD {
    font-size: var(--font-size-md);
  }

  &_sizeLG {
    font-size: var(--font-size-lg);
  }
}
