%no-bg {
  background: none;
}

.root {
  display: inline-flex;
  padding: 8px 16px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  color: var(--color-primary);

  &_clear {
    @extend %no-bg;

    padding: 0;
    border: 0;
    outline: 0;
  }

  &_outlined,
  &_outlinedDanger {
    @extend %no-bg;

    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
  }

  &_outlined {
    border-color: var(--color-border);
    color: var(--color-border);
  }

  &_outlinedDanger {
    border-color: var(--color-error-secondary);
    color: var(--color-error-secondary);
  }

  &_contained {
    color: var(--color-primary-light);
    background-color: var(--color-bg);
  }

  &_containedInverted {
    color: var(--color-bg);
    background-color: var(--color-primary-light);
  }

  &_size_sm {
    font-size: var(--font-size-sm);
  }

  &_size_md {
    font-size: var(--font-size-md);
  }

  &_size_lg {
    font-size: var(--font-size-lg);
  }

  &_size_xl {
    font-size: var(--font-size-xl);
  }

  &_squared {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    &_sm {
      width: calc(var(--font-size-sm) * 1.5);
      height: calc(var(--font-size-sm) * 1.5);
    }

    &_md {
      width: calc(var(--font-size-md) * 1.5);
      height: calc(var(--font-size-md) * 1.5);
    }

    &_lg {
      width: calc(var(--font-size-lg) * 1.5);
      height: calc(var(--font-size-lg) * 1.5);
    }

    &_xl {
      width: calc(var(--font-size-xl) * 1.5);
      height: calc(var(--font-size-xl) * 1.5);
    }
  }

  &_disabled {
    opacity: 0.5;
  }
}
