$offset: 16px;

.root {
  position: relative;
  flex: 0 0 auto;
  padding: $offset $offset $offset * 4;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background-color: var(--color-bg-secondary);
  transition: width 0.3s;

  &_collapsed {
    width: var(--sidebar-width-collapsed);
  }
}

.switchers {
  position: absolute;
  bottom: $offset;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $offset * 2;
  width: 100%;

  &_collapsed {
    flex-direction: column;
  }
}
