$offset: 16px;

.root {
  position: relative;
  flex: 0 0 auto;
  padding: $offset $offset $offset * 4;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background-color: var(--color-bg-secondary);
  transition: padding 0.3s, width 0.3s;

  &_collapsed {
    padding-left: calc($offset / 2);
    padding-right: calc($offset / 2);
    width: var(--sidebar-width-collapsed);
  }
}

.toggleButton {
  position: absolute;
  bottom: 0;
  right: calc(var(--font-size-xl) * -1.5);
  z-index: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: $offset;
}

.switchers {
  position: absolute;
  bottom: $offset;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $offset * 2;
  width: 100%;

  &_collapsed {
    flex-direction: column;
  }
}
