.root {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.input {
  padding: 8px 16px;
  height: 40px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  font: var(--font-md);
  color: var(--color-text);
  background-color: transparent;
  transition: color 0.3s;

  &,
  &:focus {
    outline: 0;
  }

  &:focus {
    border-color: var(--color-primary);
  }

  &_readonly {
    opacity: 0.4;
    cursor: default;

    &:focus {
      border-color: var(--color-border);
    }
  }
}

.placeholder {
  font: var(--font-sm);
  color: var(--color-text-secondary);
}
