.root {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.label {
  font: var(--font-sm);
  color: var(--color-text-secondary);
}

.select {
  padding: 4px 8px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  outline: 0;
  user-select: none;
  cursor: pointer;
  color: var(--color-text);
  background: none;

  &_disabled {
    cursor: default;
  }
}

.option {
  color: var(--color-text-secondary);
  background-color: var(--color-bg-secondary);
}
