.app {
  &.dark {
    // Backgrounds
    --color-bg: #333231; // Main background
    --color-bg-secondary: #242526; // Secondary background for paddings and separators

    // Text
    --color-text: #e0e0e0; // Main text
    --color-text-secondary: #b0b3b8; // Secondary text

    // UI elements
    --color-border: #343637; // Borders and separators
    --color-primary: #ffd700; // Primary accent color
    --color-primary-light: #ffd700; // Light shade of primary color can be the same given the dark theme

    // Statuses
    --color-success: #20c997; // Success, confirmations
    --color-error: #f44336; // Errors, warnings
    --color-warning: #ffc107; // Warning

    // Additional
    --color-info: #29b6f6; // Informational
  }
}
