.primary {
  color: var(--color-primary);

  &:hover,
  &:active {
    color: var(--color-info);
  }
}

.secondary {
  color: var(--color-info);

  &:hover,
  &:active {
    color: var(--color-primary);
  }
}
